{% extends 'blog/base.html' %}

{% block header %}
  <h1>{% block title %}Entries{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for entry in entries %}
  <div id="entries">
    <div class="section entry">
      <h2>{{ entry.title }}</h2>
      <div class="about">created {{ entry.created|date:"Y-m-d" }}</div>
      <a class="btn btn-info" href="{% url 'blog:detail' entry.id %}">read</a>
    </div>
  </div>
  {% endfor %}

  <nav aria-label="index">
    <div class="pagination-page-info">
      <span class="current">
        {{ entries.number }} of {{ entries.paginator.num_pages }}
      </span>
    </div>
    <ul class="pagination">
      {% if entries.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ entries.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&lt;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="First">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Previous">
          <span aria-hidden="true">&lt;</span>
        </a>
      </li>
      {% endif %}
      {% if entries.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ entries.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&gt;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ entries.paginator.num_pages }}" aria-label="Last">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Next">
          <span aria-hidden="true">&gt;</span>
        </a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Last">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}