{% extends 'blog/base.html' %}

{% block header %}
  <h1>{% block title %}Entries{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for entry in entries %}
  <div id="entries">
    <div class="section entry">
      <h2>{{ entry.title }}</h2>
      <div class="about">created {{ entry.created|date:"Y-m-d" }}</div>
      <a class="btn btn-info" href="{% url 'blog:detail' entry.id %}">read</a>
    </div>
  </div>
  {% endfor %}
  <div class="pagination">
    <span class="step-links">
      {% if entries.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ entries.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        {{ entries.number }} of {{ entries.paginator.num_pages }}
      </span>
      {% if entries.has_next %}
      <a href="?page={{ entries.next_page_number }}">next</a>
      <a href="?page={{ entries.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock %}