[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"
pytest-django = "*"

[packages]
django = "4.1.4"
mysqlclient = "*"

[requires]
python_version = "3.9"
